/*
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
 */

/* BEGIN Regular */
@font-face {
    font-family: Roboto;
    src: url("Roboto/Regular/Roboto-Regular.woff2?v=2.137") format("woff2"), url("Roboto/Regular/Roboto-Regular.woff?v=2.137") format("woff");
    font-weight: 400;
    font-style: normal; }
@font-face {
    font-family: Roboto;
    src: url("Roboto/Regular/Roboto-Regular.woff2?v=2.137") format("woff2"), url("Roboto/Regular/Roboto-Regular.woff?v=2.137") format("woff");
    font-weight: normal;
    font-style: normal; }
/* END Regular */

/* BEGIN Medium */
@font-face {
    font-family: Roboto;
    src: url("Roboto/Medium/Roboto-Medium.woff2?v=2.137") format("woff2"), url("Roboto/Medium/Roboto-Medium.woff?v=2.137") format("woff");
    font-weight: 500;
    font-style: normal; }
/* END Medium */

/* BEGIN Bold */
@font-face {
    font-family: Roboto;
    src: url("Roboto/Bold/Roboto-Bold.woff2?v=2.137") format("woff2"), url("Roboto/Bold/Roboto-Bold.woff?v=2.137") format("woff");
    font-weight: 700;
    font-style: normal; }
@font-face {
    font-family: Roboto;
    src: url("Roboto/Bold/Roboto-Bold.woff2?v=2.137") format("woff2"), url("Roboto/Bold/Roboto-Bold.woff?v=2.137") format("woff");
    font-weight: bold;
    font-style: normal; }
/* END Bold */

/* BEGIN Black */
@font-face {
    font-family: Roboto;
    src: url("Roboto/Black/Roboto-Black.woff2?v=2.137") format("woff2"), url("Roboto/Black/Roboto-Black.woff?v=2.137") format("woff");
    font-weight: 900;
    font-style: normal; }
/* END Black */