<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark"/>

    <title>eleven25{% if title %} | {{ title }}{% endif %}</title>
    {% if title %}
        <meta name="title" content="eleven25 | {{ title }}"/>
    {% endif %}{% if description %}
    <meta name="description" content="{{ description }}"/>
{% endif %}

    <link rel="icon" href="../assets/favicon.png">

    <link rel="stylesheet" href="../assets/pico.classless.slate.min.css">
    <link rel="stylesheet" href="../assets/1125.min.css">
</head>
<body>

<header>
    <a href="overview.html">
        <img id="logo" src="../assets/Eleven25_Logo.png" alt="">
    </a>
    <br>
    I'm someone from the internet. I build/mod/fix things. And I blog about it.

    <nav>
        <ul>
            <li><a href="overview.html">Overview</a></li>
            <li><a href="recent-posts.html">Recent posts</a></li>
        </ul>

        <ul>
            <li><a href="https://github.com/x1125" target="_blank">Github</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
    </nav>

    <aside>
        <nav>
            <ul>
                <li><a href="overview.html">Overview</a></li>
                <li><a href="recent-posts.html">Recent posts</a></li>
                <li><a href="https://github.com/x1125" target="_blank">Github</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
    </aside>

    {% if headlines %}
        <div id="subnav">
            {% for headline in headlines %}
                <a href="#{{ headline.id }}">&#9205;&nbsp;{{ headline.title }}</a>
            {% endfor %}
        </div>
    {% endif %}
</header>

<main>
    <noscript>
        <article class="no-script">
            <header>Javascript disabled</header>
            Some parts won't be accessible.
        </article>
    </noscript>

    <article>
    {% if status %}
        <div class="tags has-addons">
            <span class="tag is-dark">Status</span>{% if status == "done" %}<span class="tag is-success">{{ status }}</span>{% elif status == "abandoned" %}<span class="tag is-danger">{{ status }}</span>{% else %}<span class="tag is-primary">{{ status }}</span>{% endif %}
        </div>
    {% endif %}
    {{ content | safe }}
    </article>
</main>

<div id="scrolltop" class="scrolltop-hidden" onclick="document.documentElement.scrollTop=0;document.body.scrollTop=0">
    &#128285;
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        window.addEventListener('scroll', function (e) {
            document.getElementById('scrolltop').classList.toggle('scrolltop-hidden',
                e.target.scrollingElement.scrollTop < e.target.scrollingElement.clientHeight);
        });
    });
</script>

{% if features %}
    {% if 'preview' in features or '3d' in features %}
        <script src="../assets/modal.min.js"></script>
    {% endif %}
{% endif %}

{% if features and 'preview' in features %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.preview-image').forEach((elem) => {
                elem.addEventListener('click', (e) => {
                    e.preventDefault();
                    openModal(document.getElementById('image-modal'));
                    document.getElementById('image-container').innerHTML = '<img alt="" src="' + e.target.parentNode.getAttribute('href') + '">';
                });
            });
        });
    </script>

    <dialog id="image-modal">
        <article>
            <header>
                <button
                        aria-label="Close"
                        rel="prev"
                        data-target="image-modal"
                        onclick="toggleModal(event)"
                ></button>
            </header>
            <div id="image-container"></div>
        </article>
    </dialog>
{% endif %}

{% if features and '3d' in features %}
    <script src="../assets/three.min.js"></script>
    <script src="../assets/STLLoader.min.js"></script>
    <script src="../assets/Detector.min.js"></script>
    <script src="../assets/OrbitControls.min.js"></script>

    <script>
        const RenderFrame = {
            heightFix: -10,

            content: null,
            path: null,

            scene: null,
            camera: null,
            renderer: null,

            init: function (path, content) {
                this.content = content;
                this.path = path;

                this.scene = new THREE.Scene();
                this.scene.add(new THREE.AmbientLight(0x999999));

                this.camera = new THREE.PerspectiveCamera(35, window.innerWidth / window.innerHeight, 1, 500);
                this.camera.up.set(0, 0, 1);
                this.camera.position.set(0, -9, 6);

                this.camera.add(new THREE.PointLight(0xffffff, 0.8));

                this.scene.add(this.camera);

                const grid = new THREE.GridHelper(25, 50, 0xffffff, 0x555555);
                grid.rotateOnAxis(new THREE.Vector3(1, 0, 0), 90 * (Math.PI / 180));
                this.scene.add(grid);

                this.renderer = new THREE.WebGLRenderer({antialias: true});
                this.renderer.setClearColor(0x999999);
                this.renderer.setPixelRatio(window.devicePixelRatio);
                this.renderer.setSize(this.content.clientWidth, this.content.clientHeight + this.heightFix);

                const loader = new THREE.STLLoader();
                const material = new THREE.MeshPhongMaterial({color: 0x0e2045, specular: 0x111111, shininess: 200});
                loader.load(this.path, (geometry) => {
                    const mesh = new THREE.Mesh(geometry, material);

                    mesh.position.set(0, 0, 0);
                    mesh.rotation.set(0, 0, 0);
                    mesh.scale.set(.04, .04, .04);

                    mesh.castShadow = true;
                    mesh.receiveShadow = true;

                    this.scene.add(mesh);
                    this.renderer.render(this.scene, this.camera);
                });

                const controls = new THREE.OrbitControls(this.camera, this.renderer.domElement);
                controls.addEventListener('change', () => {
                    this.renderer.render(this.scene, this.camera)
                });
                controls.target.set(0, 1.2, 0);
                controls.update();
                window.addEventListener('resize', () => {
                    this.camera.aspect = window.innerWidth / window.innerHeight;
                    this.camera.updateProjectionMatrix();
                    this.renderer.setSize(this.content.clientWidth, this.content.clientHeight + this.heightFix);
                    this.renderer.render(this.scene, this.camera)
                }, false);

                content.innerHTML = '';
                content.appendChild(this.renderer.domElement);
            },
        };

        const view3D = function (e) {
            e.preventDefault();
            const preview3D = document.getElementById('stl-viewer-modal');
            openModal(preview3D);
            RenderFrame.init(e.target.parentNode.getAttribute('href'), preview3D.querySelector('#stl-viewer-container'));
        };

        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('a').forEach((elem) => {
                if (elem.href.endsWith('.stl')) {
                    elem.addEventListener('click', view3D);
                    const button = document.createElement('button');
                    button.textContent = elem.text;
                    elem.text = '';
                    elem.append(button);
                }
            });
        });
    </script>

    <dialog id="stl-viewer-modal">
        <article>
            <header>
                <button
                        aria-label="Close"
                        rel="prev"
                        data-target="stl-viewer-modal"
                        onclick="toggleModal(event)"
                ></button>
            </header>
            <div id="stl-viewer-container"></div>
        </article>
    </dialog>
{% endif %}
</body>
</html>
