html {
    background: url('background.svg') fixed #000000;
}

html, body {
    /* second row is Bumla's default */
    font-family: 'Hack',
    "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

span {
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

i[data-icon] {
    display: inline-block;
    height: 15px;
    width: 15px;
}

ul#menuList li a:focus {
    outline: none;
}

.custom-box {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 3px;
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-left: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    border-right: 1px solid rgba(255, 255, 255, .1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
}

#menu-bottom a i[data-icon] {
    fill: #c9c9c9;
}

pre.mail-graphics {
    font-size: 9px;
}

.sectionLink > a {
    margin-left: 5px;
}

.sectionLink > * {
    display: inline-block;
}

.sectionLink:hover > * {
    display: inline-block !important;
}

#main-container blockquote {
    border-left: 3px solid rgba(223, 215, 202, 0.75);
    padding-left: 5px;
}

#main-container .headline-index-container {
    float: right;
    margin-left: 10px;
}

#main-container section {
    padding: 0.5rem 0 1.5rem 0;
}

.update-section .diff {
    white-space: pre-line;
    overflow: hidden;
    color: #8c9b9d;
    transition: max-height 0.25s ease-out;
    padding: 0;
}

.update-section .diff span {
    font-family: inherit;
}

.update-section .diff-content {
    padding: .75rem;
    float: left !important;
    width: 100%;
}

.update-section .diff.preview {
    max-height: 200px;
}

.update-section .diff-overlay {
    background: rgba(0, 0, 0, 0.7);
    height: 198px;
    width: 100%;
    position: relative;
}

.update-section .diff-overlay > span {
    text-shadow: 0 0 15px rgb(255, 255, 255);
    font-size: 1.5em;
    position: absolute;
    left: 45%;
    top: 40%;
}

.update-section .diff-hide {
    float: left !important;
    text-align: center;
    width: 100%;
    margin-bottom: .75rem;
    border-top: 1px dashed;
    margin-top: .75rem;
    padding-top: .75rem;
}

.update-section .diff-overlay > span:hover, .update-section .diff-hide:hover > span {
    cursor: pointer;
    color: #fff;
}

/* resetting bulma for markdown view */

#main-container h1,
#main-container h2,
#main-container h3,
#main-container h4,
#main-container h5,
#main-container h6 {
    font-size: revert;
    margin: revert;
    padding: revert;
}

#main-container h1:first-child {
    margin-top: 0;
}

#main-container p {
    margin-top: 15px;
    margin-bottom: 15px;
}

#main-container ul {
    list-style: revert;
}

#main-container ol,
#main-container ul {
    margin: revert;
    padding: revert;
}

#main-container pre,
#main-container blockquote {
    margin: revert;
}

#main-container blockquote pre {
    padding: revert;
    background-color: revert;
}

#main-container th, #main-container td {
    color: #fff !important;
    border: 1px solid #c9c9c9;
    padding: 3px 5px;
}

/* scroll to top */

#scrolltop {
    position: fixed;
    right: 20px;
    bottom: 10px;
    font-size: 30pt;
    cursor: pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    line-height: 0;
}

#scrolltop:hover {
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}

.scrolltop-hidden {
    opacity: 0;
}

/* light mode */

.light-mode,
.light-mode .menu-label,
.light-mode .menu-list a,
.light-mode #menu-bottom a,
.light-mode strong, table th {
    color: #000 !important;
}

.light-mode #menu-bottom a i[data-icon] {
    fill: #000;
}

.light-mode #menuList a.is-active {
    background-color: #6abfb0;
}

.light-mode code,
.light-mode hr,
.light-mode pre {
    background-color: #5c6464;
}

.light-mode .menu-list a:hover {
    background-color: #90cbc1;
}

.light-mode .custom-box {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-left: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    border-right: 1px solid rgba(255, 255, 255, .1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
}

/* STL viewer */

#STLViewerModal .modal-content {
    width: 98%;
    height: 98%;
}

#STLViewerModal .modal-content canvas {
    width: 100%;
    height: 100%;
}

/* top loader */

#overlay-loader {
    width: 100%;
    z-index: 99999;
    position: fixed;
    left: 0;
    top: 0;
}