html {
    background: url('background.svg') fixed #000000;
}

html, body {
    /* second row is Bumla's default */
    font-family: 'Hack',
        "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-size: revert;
}

ol {
    padding: revert;
}

ul#menuList  li a:focus {
    outline: none;
}

.custom-box {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 3px;
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-left: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    border-right: 1px solid rgba(255, 255, 255, .1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
}

#menu-bottom a {
    color: #c9c9c9;
}

pre.mail-graphics {
    font-size: 9px;
}

.sectionLink > a {
    margin-left: 5px;
    vertical-align: super;
}

.sectionLink:hover > * {
    display: inline-block !important;
}